[submodule "minetest-Tutorial"]
	path = minetest-Tutorial
	url = https://github.com/KidsLabDe/minetest-Tutorial.git
[submodule "worlds"]
	path = worlds
	url = git@github.com:KidsLabDe/Zukunftsnachte-2024.git
