[Desktop Entry]
Version=1.0
Exec=/opt/minetest/startTutorial.sh
Path=/opt/minetest/
Name=Starte Tutorial
GenericName=startTutorial
Comment=Started den Minetest-Server im Tutorial-Modus
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application;Network;
